* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input[type="submit"] {
  background-color: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 24px;
  color: #323232;
}

.title {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  max-width: unset;
  width: 100%;
  padding: 0;
}

.none {
  display: none;
}

.navbar {
  padding-top: 35px;
  padding-bottom: 35px;
}

.navbar__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.navbar__menu ul {
  display: flex;
  justify-content: space-between;
}

.navbar__menu ul li:not(:last-child) {
  margin-right: 42px;
}

.navbar__menu ul li a {
  color: #323232;
}

.navbar__menu ul li a:hover {
  color: #f78434;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar__menu ul li a.active {
  color: #f78434;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  background-color: #f78434;
  font-weight: bold;
  font-size: 16px;
  line-height: 58px;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #ff6a00;
}

.button--white {
  background-color: #fff;
  border-radius: 29px;
  color: #323232;
  display: flex;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button--white:hover {
  background-color: #323232;
  color: #fff;
}

.button--play {
  padding-left: 50px;
  position: relative;
}

.button--play::before {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  margin-top: 1px;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(/img/play.svg);
  background-size: initial;
  background-repeat: no-repeat;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo span {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
}

.navbar__logo img {
  margin-right: 10px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text {
  width: 465px;
}

.header__text-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  margin-right: -160px;
  position: relative;
  z-index: 9;
}

.header__text-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  margin-bottom: 42px;
}

.header__image {
  max-width: 50%;
}

.header__image img {
  border-radius: 40px 40px 40px 0px;
}

.header__form {
  background: #FFFFFF;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  max-width: 459px;
  height: 58px;
  transition: box-shadow 0.3s ease-in;
}

.header__form-active {
  box-shadow: 5px 17px 42px rgba(247, 132, 52, 0.87);
}

.header__form-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  height: 100%;
}

.header__form-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 19px;
  left: 28px;
  top: 21px;
  background-image: url("/img/mail.svg");
}

.header__form-input {
  flex-grow: 1;
  margin-right: 10px;
}

.clients__row {
  margin-top: 100px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
}

.clients__row img:not(last-child) {
  margin-right: 94px;
}

.objects__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1495px) {
  .objects__row {
    justify-content: flex-end;
  }
}

.objects__img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.objects__text {
  max-width: 374px;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  flex-shrink: 0;
  padding-left: 181px;
  padding-right: 150px;
}

.objects__text p + p {
  margin-top: 20px;
}

.objects__text .button {
  margin-top: 40px;
}

.objects__title {
  margin-top: 68px;
  margin-bottom: 20px;
}

.objects__card {
  position: relative;
  width: 385px;
}

.objects__card .img-card__info {
  position: absolute;
  right: -46px;
  bottom: 87px;
}

.objects__card + .objects__card {
  margin-left: 32px;
}

.objects__card img {
  border-radius: 20px;
}

.objects__card-circle img {
  border-radius: 20px 20px 0px 20px;
}

.card-info {
  display: flex;
  align-items: center;
  width: 300px;
  height: 141px;
  background-color: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 30px;
}

.card-info__icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.card-info__text .card-info__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}

.card-info__text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
}

.cta {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cta__block {
  border-radius: 20px;
  background-color: #58BEBF;
  color: #FFFFFF;
  display: flex;
  align-items: stretch;
}

.cta__img {
  margin-top: 60px;
  padding-top: 25px;
  padding-right: 25px;
  background-color: #fff;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 0 20px 0 0;
}

.cta__text {
  width: 550px;
  padding-left: 95px;
  padding-right: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/img/cta/oval-bottom-left.svg") bottom left -186px, url("/img/cta/oval-top-right.svg") right -10px top -5px;
  background-repeat: no-repeat;
}

.cta__text-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}

.cta__text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
  margin-bottom: 30px;
  width: 320px;
}

.cta__text-buttons {
  display: flex;
  justify-content: space-between;
}

.serve {
  position: relative;
  padding-bottom: 120px;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 1.15px;
}

.serve:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f5f6fa;
  position: absolute;
  top: -50%;
  bottom: -50%;
  left: 0;
  z-index: -1;
}

.serve__head {
  text-align: center;
  margin-bottom: 45px;
}

.serve__row {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: stretch;
}

.serve__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  background-color: white;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  padding: 40px;
}

.serve__card-icon {
  fill: #f78434;
  transition: fill 0.2s ease-in;
}

.serve__card:hover {
  background-color: #f78434;
  color: white;
}

.serve__card:hover .button {
  background-color: white;
  color: #f78434;
}

.serve__card:hover .serve__card-icon {
  fill: white;
}

.serve__card img {
  margin-bottom: 15px;
}

.serve__card p {
  margin-bottom: 25px;
  margin-left: 62px;
  margin-right: 62px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */