.testimonials {
    margin-top: 60px;
    padding-bottom: 60px;
}
.testimonials__head {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        max-width: 455px;
    }
    p{
        max-width: 398px;
    }
}
.testimonials__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        right: -40px;
        top: -40px;
        
        background-image: url("/site-bulding-2/img/Shape.svg");
    }
}
.card-testimial {
    max-width: 350px;
    background-color: #fff;
    border-radius: 5%;
    transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
    &:hover {
        box-shadow: 0px 10px 52px rgba(0, 0, 0, 0.08);

        .card-tetimial__city {
            color: $accent;
        }
    }
}

.card-testimial__img-wrapper{
    position: relative;
}
.card-testimonial__btn-play {
    position: absolute;
    right: 20px;
    bottom: 15px;
    background: none;
    
    
}

.card-testimonial__btn-svg {
    circle {
        fill: white;
    }
    path {
        fill: $second;
        transition: fill 0.2s ease-in;
    }
    &:hover {
        path{
            fill: $accent;
        }
    }
}

.card-testimial__img {
    
    width: 100%;
      
}


.card-testimial__body {
    margin: 30px;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 1.15px;
}
.card-tetimial__name {
    margin-top: 23px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.6px;
}
.card-tetimial__city {
    color: $second;
}